<!DOCTYPE html>
<html>

{#{% if user.is_authenticated and type_obj.is_student %}#}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Version1</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Armata">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<style>

    tr[data-href]:hover{
        cursor: pointer;
        background-color: #20c997;
    }

</style>

<body>

<nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color:#e7f1f0;height:70px;">
    <div class="container"><a class="navbar-brand" style="height:75px;width:103px;margin:0px;padding:6px;"
                              href="#"><span class="brand-text">ARC</span><span id="X">X</span><span class="brand-text">IVAL</span></a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Archive</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'logout' %}">Logout</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" style="padding-top:1px;padding-left:39px;"
                                                            href="#"><i class="icon ion-android-settings"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="height:400px;margin-top:84px;">
    <div class="container">

        <div class="row" style="padding:0px;padding-top:22px;height:300px;">
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xs-9" style="height:378px;">
                <div class="row">
                    <div class="col">
                        <h3 class="text-left"
                            style="padding-left:6px;padding-top:13px;margin-left:-5px;padding-bottom:1px;margin-bottom:9px;font-size:21px;font-family:Armata, sans-serif;">
                            My Projects</h3>
                    </div>
                    <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto offset-0 text-right align-self-baseline">
                        <a class="btn btn-primary text-nowrap text-center" role="button" id="btn-project"
                           style="margin: 0px;margin-top: 0px;margin-left: 0px;background-color: rgba(22,115,54,0.68);font-family: Roboto, sans-serif;padding-top: 10px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;width: 116px;height: 41px;margin-right: 0px;font-size: 14px;"
                           href="{% url 'newproject' %}"><i class="icon ion-plus-round" style="font-size:14px;"></i>&nbsp;
                            New Project</a></div>
                </div>
                <div class="row">
                    <div class="col" style="padding-top:16px;">
                        <div class="table-responsive table-bordered" id="my-projects-table"
                             style="height: 400px;margin-left: 0px;font-size: 14px;">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Course</th>
                                    <th>Group</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project in projects.all %}
                                    <tr data-href = "{{ project.project_id }}">
                                    <td>{{ project.project_title }}</td>
                                    <td>{{ project.course_code }}</td>
                                    <td>{{ project.group_name }}</td>
                                </tr>
                                {% endfor %}
                               <!-- <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer style="height: 200px;"></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/script.min.js"></script>

<script>

    $(document).ready(function(){
        $(document.body).on("click", "tr[data-href]", function(){
            window.location.href = this.dataset.href;
        });
        });


</script>

</body>
{#{% endif %}#}
NOT STUDENT
</html>