<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

   <!-- <script src="dropzone.js"></script> -->
</head>
<body>
<h1>Upload Page Arcxival</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file", name="file" multiple />
    <input type="hidden" value = "{{ project_obj.project_id }}" name = "project_id">
    <button type = "submit" > Upload </button>
</form>

<table>
    <thead>
    <tr>
        <th>File Name</th>
        <th>Download</th>

    </tr>
    </thead>
    <tbody>
    {% for file in files.all %}
        {% if file.project_id == project_obj %}
    <tr>
        <td>{{ file.file_name }}</td>
        <td >
        <a href=" {{ file.file_content.url }}" class="btn btn-primary btn-sm">
            Download
        </a>
        </td>

    </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<h1>{{ project_obj.project_id }}</h1>



<!--<form method="'post" enctype="multipart/form-data">

    <button type="submit" class="btn btn-primary"> Upload</button>
</form>
-->


</body>
</html>